<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Wicklow Play & Creative Arts Therapy</title>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="static/css/styles.css" type="text/css" />
   </head>
   <body>
      <div class=”main-container”>
        <header>
            <nav class="navbar navbar-expand-lg py-3">
                <div class="container-fluid">
                <a class="d-lg-none navbar-brand" href="index.html"><img src="static/images/logo.jpeg" alt="Logo" height="50"></a>
                  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                  <div class="collapse navbar-collapse justify-content-around" id="navbarCenteredExample">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item px-3 nav-text"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
                        <li class="nav-item nav-text dropdown px-3"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">About</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="about-me.html">About Me</a></li>
                              <li><a class="dropdown-item" href="arts-about.html">About the Creative Arts</a></li>
                            </ul>
                          </li>
                        <li class="nav-item nav-text px-3"><a class="nav-link" href="services.html">Services</a></li>
                        <li class="nav-item d-none d-lg-block px-3"><a class="nav-link logo" aria-current="page" href="index.html"><img src="static/images/logo.jpeg" alt="Logo" height="65"></a></li>
                        <li class="nav-item nav-text px-3"><a class="nav-link active" aria-current="page" href="the-space.html">Theraputic Space</a></li>
                        <li class="nav-item nav-text px-3"><a class="nav-link" href="faq.html">FAQ & Resources</a></li>
                        <li class="nav-item nav-text px-3"><a class="nav-link" href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
         </header>


         <footer class="text-center text-lg-start text-muted my-5">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                      <!-- Content -->
                      <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Madeleine Grant
                      </h6>
                      <p>
                        RGN, Accredited Play/Creative Arts Therapist, MSc Bereavement Studies, Dip in Integrative Counselling and Psychotherapy, Post Grad Certificate in Environmental Art Therapy.
                      </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                      </h6>
                      <p>
                        <a href="services.html" class="text-reset">Services</a>
                      </p>
                      <p>
                        <a href="arts-about.html" class="text-reset">About the Creative Arts</a>
                      </p>
                      <p>
                        <a href="FAQ.html" class="text-reset">FAQ & Resources</a>
                      </p>
                      <p>
                        <a href="contact.html" class="text-reset">Contact</a>
                      </p>
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                      </h6>
                      <p><i class="fas fa-home me-3"></i>Rathdrum, Co.Wicklow</p>
                      <p>
                        <i class="fas fa-envelope"></i>
                        wicklowcreativeartstherapy@gmail.com
                      </p>
                      <p><i class="fas fa-phone me-3"></i>+353872981642</p>
                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                </div>
              </section>
              <!-- Section: Links  -->
         </footer>
        </div>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
      <script src="static/js/script.js"></script>
   </body>
</html>